*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
main {
    min-width: 100vw;   
    min-height: 100vh;
}
/* wrap */
h2 {
    text-align: center;
    margin: 10px 0;
}
/* wrapper */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.wrapper img {
    width: 40em;
    max-width: 40%;
    object-fit: scale-down;
}